.navbar{
    background-color: black;
    float: left;
    display: inline-flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.navbar a{
    color: #f4f3ee;
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    width: 25%;
}

.navbar a:hover{
     background-color:#f4f3ee;
     text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
     color: black;
     
}

video{
    object-fit: fill;
}

#video {
    width: 100%;
    height: auto;
    max-height: 500px;
    opacity: 80%;
    margin-bottom: 0;
    border-top: 5px double #f4f3ee;
}

.row{
    column-count: 2;
    column-gap: 0;
    margin-top: -5px;
    
}

.text-overlay{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    text-shadow:1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    letter-spacing: 3px;
}

#head{
  font-weight: bolder;
  font-size: 4em;
  margin: 0;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

body{

    color: #f4f3ee;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}


.column-1{
    display: flex;
    height: 700px;
    background-color: black;
    padding-top: 120px;

}
.column-1 img{
    display: block;
    object-fit: cover;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border: 40px solid white;
    box-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    height: 70%;
}

.column-2{
    background-color: black;
    height: 700px; 
    display: flex;
    padding-top: 120px;
}
.column-3{
    align-items: center;
    background-color: black;
    height: 700px;
    display: flex;
    padding-top: 40px;
}
.column-4{
    display: flex;
    height: 700px;
    background-color: black;
    padding-top: 40px;
}

.column-4 img{
    display: block;
    object-fit: cover;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border: 40px solid white;
    box-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    height: 70%;
}
.column-5{
    display: flex;
    height: 700px;
    background-color: black;
    padding-top: 80px;
}

.column-5 img{
    display: block;
    object-fit: cover;
    align-content:center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 40px solid white;
    box-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; 
    height: 70%;
}
.column-6{
    background-color: black;
    height: 700px;
    display: flex;
    padding-top:80px;
}
.container{
    align-content: center;
    display:block;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.container h1{
    font-size: 3em;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.container p{
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px;
}

.container a{
    color: white;
    font-size: 2em;
}

.container a:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #f4f3ee;
    color: black;
}

.submit{
    background-color: black;
    color: white;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    padding: 10px;
    margin: 10px;
    width: 15%;
    font-size: 20px;
    letter-spacing: 2px;
}

.submit:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #f4f3ee;
    color: black;
    cursor: pointer;
}

.form input{
    min-width: 50%;
    max-width: 90%;
    height: 20px;
    margin: 20px;
}
.form label{
    font-size: 30px;
    margin: 10px;
}